body{
	margin: 0;
	background-color:
}

header{
	background-color: brown;
	font-size: 30px;
	text-align: center;
	height: 50px;
	color: white;
}

.divider{
	background-color: white;
	height: 2px;

}
img{
	width: 30%;
	float: left;
	margin: 0 20px 10px 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ch:hover{
	width: 31%;
	transform:scaleX(-1);
}

.chairman{
	float: left;
}

p{
	font-size: 17px;
}

.divider2{
	background-color: black;
	height: 2px;
}

.bm{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 18%;	
	float: right;
}

.bm:hover{
	width: 19%;
}

.ap {
    text-align: center;
    background-color: brown;
    color: white;
    height: 50px;
    font-size: 30px;
}

.divider3 {
    height: 2px;
    background-color: black;
}

.dceimg{
	width: 99%
}

.dce{
	padding-top: 1px;
}

.dceimg:hover{
	width:100%
}






























































