body{
	margin: 0;

}

h1{
	margin-top: 0px;
	background-color: brown;
	color: white;
}


.divider {
    border: 2px;
    background-color: black;
    margin-top: -20px;
    padding-top: 2px;
}

#outerbox{
	width: 600px;
	overflow: hidden;
	margin-left: 680px;
	
}

#sliderbox{
	position: relative;
	width: 5400px;
	animation-name: jatin;
	animation-duration: 30s;
}

#sliderbox img{
	float: left;
}

@keyframes jatin{
	0%
	{
		left: 0px;
	}
	100%
	{
		left: -4800px;
	}
	
}

img:hover{
	opacity: 0.5;
}

p{
	font-size: 18px;
}

.divider1 {
    background-color: brown;
    border: 3px;
    margin-top: 72px;
    padding-top: 2px
}

.box {
    width: 561px;
    height: 300px;
    margin-top: -378px;
    margin-left: 34px;
    border: outset;
    text-align: center;
}

.hodimg{
	width: 150px;
	border-radius: 15px;
}

h2.hoddesk {
    margin-left: 177px;
    margin-top: -163px;

}

p.hodinfo {
    /* margin-left: 158px; */
    margin-top: 44px;
}

p.hodinfo1 {
    margin-left: 174px;
}

.HOD {
	width: 850px;
	height: 840px;
	border: ridge;
	margin-top: -590px;
}

.navigation {
    margin-left: 900px;
    width: 220px;
    height: 600px;
    border: outset;
}

.nav{
	background-color: brown;
	color: white;
	height: 40px;
	text-align: center;
	padding-top: 4px;
}

a{
	text-decoration: none;
	font-size: 20px;
	color: brown;
}

a:hover{
	text-decoration: underline;
}
