body{
	margin: 0;
	background-color: ;
}

header{
	max-width: 100%;
	background-color: brown;
	padding-top: 25px;
    padding-left: 111px;
    padding-bottom: 1px;
    height: 100px;
}

.logo {
    font-size: 19px;
    margin-left: 26px;
    margin-top: 11px;
    color: white;
}

#img {
    float: right;
    margin-top: -96px;
  
}

.divider{
	background-color: white;
	height: 2px;
}

ul li{
			
	background-color:rgba(240, 247, 252, 1);
	width: 250px;
	float: left;
	border: 1px solid white;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
	ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

	ul li a{

	text-decoration: none;
	color: black;
	display: block;
}

	ul li:hover{

	background-color: white;
}
	ul ul{

	display: none;
}
	ul li:hover >ul{

	display: block;
}
	ul ul ul{

	margin-left: 250px;
	position: absolute;
	top: 0;
}

.divider2{
	height: 2px;
	background-color: red;
	margin-top: 52px;

}

.img1{
	width: 50%;
	float: left;
}

.dceimg{
	float: left;
	text-align: center;
	border: double;
	background-color: bisque;
}

.divider3{
	height: 2px;
	background-color: brown;
	margin-top: 294px;
}

.img1:hover{
	width: 51%;
}
	
	

   		 .newss{
			width: 45%;
			height: 400px;
			border: outset;
			overflow: hidden;
			margin-left: 53%;
			background-color:

		}
		.a{
			text-decoration: none;
			color: black;
		}

		.a:hover{
			color: red;
		}

		.latest{
			text-align: center;
			font-size: 25px;
			background-color: brown;
			color: white;
			height: 42px;
    		padding-top: 10px;
   			margin-top: 14px;
		}

		.ln{
			padding-left: 15px;
		}

		.as{
			float: left;
			margin-top: -377px;
			width: 45%;
		}

		.nacc{
			float: left;
			width: 20%;
			margin: 0 20px 10px 0;
		}

		.aicte{
			float: left;
			width: 20%;
			margin: 19px 20px 10px 0;
		}

