#main{
	padding-top: 300px;
}

#box{
	width: 50%;
	height: 230px;
	border: 2px solid blue;
	margin-left: 330px;
	border-radius: 30%;
	text-align: center;

 }

h1{
	padding-top: 40px;
	font-family: sans-serif;
	overflow: hidden;

}
p{
	font-size: 26px;

}

.subheading{
	text-decoration: none;
}

.heading{
	text-align: center;
}
