body{
	margin: 0;
	background-color: rgba(246, 224, 202, 1);
}



p{
	font-size: 26px;

}


ul li{
			
			background-color: rgba(240, 247, 252, 1);
			width: 254px;
			float: left;
			border: 1px solid white;
			height: 50px;
			text-align: center;
			line-height: 50px;
			position: relative;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

		}
		ul.main-ul {
		    margin-left: 70px;
		}

		ul li a{
			text-decoration: none;
			color: black;
			display: block;
		}
		ul li:hover{
			background-color: white;
		}
		ul ul{
			display: none;
		}
		ul li:hover >ul{
			display: block;
		}
		ul ul ul{
			margin-left: 254px;
			position: absolute;
			top: 0;
		}

.dceimg	{
	width: 55%;
	height: 400px;
	float: left;	
}

 #main1{
 	background-color: brown;
 	width: 100%;
 	height: 130px;
 	text-align: center;
 	padding-top: 1px;
 	
 }

p{
	color: white;
	font-size: 20px;
	
}

.logo{
	margin-left: -800px;
	padding-top: 30px;
	}

#img{
	width: 250px;
	height: 100px;
}

.Welcome{
		margin-top: 40px;
}


img#img {
    margin-left: 1750px;
   	margin-top: -90px;


}

.info{
	color: black;
	font-size: 18px;
}


.divider{
	background-color: black;
	height: 2px;
	margin-top: 42px;
}

.divider1{
	background-color: brown;
	height: 2px;
	margin-top: 54px;

	}

#main{
	margin-left: -72px;
	margin-top: -16px;
}

h2{
	margin-left: 740px;
}

h3{
	margin-left: 880px;
}

.img1{
	margin-top: 10px;
	width: 90px;

}

.naccheading{
	padding-left: 100px;
    margin-top: -89px;
}

.info1{
	color: black;
	font-size: 16px;
}

.info2{
	color: black;
	font-size: 16px;
}

.img4{
	width: 85px;
}

img.img4 {
    margin-left: 3px;
    margin-top: 17px;
   }

   h4.h4 {
    margin-left: 112px;
    margin-top: -80px;
}

p.info2{
	margin-left: 112px;

}

a.Calender{
	margin-left: 900px;
	text-decoration: italic;
	color: black;
	font-size: 21px;

}

a.Calender:hover{
	text-decoration: none;
	color: blue;
}
